<h2><%= @list.name %></h2>
<a class='button' href="<%= BASE_URL %>/list/<%= @list.id %>/item/add">Add new item</a>
<% if @list.size == 0 %>
  <h3>Nothing here</h3>
<% end %>
<ul>
  <% @list.each do |item| %>
    <li>
      <a class='fixed_width' href="<%= BASE_URL %>/list/<%= @list.id %>/item/<%= item.id %>">
        <%= item.name %> x <%= item.total %> 
      </a>
      <a class='button' href="<%= BASE_URL %>/list/<%= @list.id %>/item/<%= item.id %>/add">Add</a>
      <% if item.total > 0%>
        <form action="<%= BASE_URL %>/list/<%= @list.id %>/item/<%= item.id %>/use" method='post'>
          <input class='button' type='submit' value='Use'>
        </form>
      <% end %>
      <% if item.total == 0%>
        <form action="<%= BASE_URL %>/list/<%= @list.id %>/item/<%= item.id %>/remove" method='post'>
          <input class='button' type='submit' value='Remove from list'>
        </form>
      <% end %>
    </li>
  <% end %>
</ul>

<aside>
  <a class='button' href="<%= BASE_URL %>/">Back</a>
  <form class='delete' action="<%= BASE_URL %>/list/<%= @list.id %>/remove" method='get'>
    <input class='button' type='submit' value='Delete List'>
  </form>
</aside>